In [0]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

Загружаем фичи

In [0]:
data_root = "/content/drive/My Drive/antifraud/agg"

In [0]:
interval = pd.DataFrame()
agg = pd.DataFrame()
count = pd.DataFrame()
mcc = pd.DataFrame()
time = pd.DataFrame()

In [4]:
for f in tqdm(os.listdir(data_root)):
  if "agg_features" in f:
    agg = pd.concat((agg, pd.read_csv(os.path.join(data_root, f))))
  elif "mcc_features" in f:
    mcc = pd.read_csv(os.path.join(data_root, f))
  elif "time_features" in f:
    time = pd.concat((time, pd.read_csv(os.path.join(data_root, f))))
  elif "intervals" in f:
    interval = pd.read_csv(os.path.join(data_root, f))
  elif "count_features" in f:
    count = pd.read_csv(os.path.join(data_root, f))

  3%|▎         | 4/115 [00:00<00:22,  4.98it/s]/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
100%|██████████| 115/115 [01:30<00:00,  1.27it/s]

In [10]:
agg

         user_id  ...  Unnamed: 0
0      100017347  ...         NaN
1       10003418  ...         NaN
2      100115786  ...         NaN
3       10021523  ...         NaN
4      100224646  ...         NaN
...          ...  ...         ...
5908  VSP4582415  ...         NaN
5909  VSP4900548  ...         NaN
5910   VSP752226  ...         NaN
5911    VSP82951  ...         NaN
5912   VSP960095  ...         NaN

[605851 rows x 198 columns]

Берем таргет

In [0]:
path_root_agg = "/content/drive/My Drive/antifraud/trans_april_may_st3_agg"

In [0]:
tr_data = pd.DataFrame()

In [0]:
files = os.listdir(path_root_agg)
files.sort()

In [8]:
for f in tqdm(files[1:]):
  tr_data = tr_data.append(pd.read_parquet(os.path.join(path_root_agg, f)))

100%|██████████| 200/200 [02:42<00:00,  1.23it/s]

In [0]:
path_root_trans = "/content/drive/My Drive/antifraud/trans_april_may_st0_markup_incoming_transactions_anon"

In [0]:
data_trans = pd.DataFrame()

In [0]:
files = os.listdir(path_root_trans)
files.sort()

In [12]:
for f in tqdm(files[1:]):
  data_trans = data_trans.append(pd.read_parquet(os.path.join(path_root_trans, f)))

100%|██████████| 7/7 [00:00<00:00, 18.01it/s]

In [0]:
ids1 = set(tr_data.event_id)
ids2 = set(data_trans.event_id)
target_ids = ids1.intersection(ids2)

In [0]:
target = tr_data[tr_data.event_id.isin(target_ids)][["event_id", "USER_ID",	"USER_ID_RCVR",	"CLASS"]]

In [0]:
interval.set_index("user_id", inplace=True)
time.set_index("user_id", inplace=True)
count.set_index("Unnamed: 0", inplace=True)
mcc.set_index("Unnamed: 0", inplace=True)

In [0]:
interval.index = interval.index.astype(str)
time.index = time.index.astype(str)
count.index = count.index.astype(str)
mcc.index = mcc.index.astype(str)

Бахнем тф идф

In [0]:
from sklearn.feature_extraction.text import TfidfTransformer

In [0]:
agg.user_id = agg.user_id.astype(str)

In [0]:
agg = agg.drop(agg.columns[agg.isna().sum()>1], axis = 1).dropna()

In [0]:
agg.set_index('user_id', inplace=True)

In [0]:
col = [" ".join(c) for c in map(lambda x: x.split(), agg.columns) if c[-1]!='distr' and c[1]=='count']

In [0]:
tfidf = TfidfTransformer()

In [0]:
to_convert = agg[col]

In [0]:
converted = tfidf.fit_transform(to_convert)

In [0]:
converted = pd.DataFrame(converted.toarray()).set_index(agg.index)
converted.columns = col

In [0]:
agg = pd.concat((agg.drop(col, axis = 1), converted), axis = 1)

Склеим все таблицы

In [0]:
ind1 = set(agg.index.astype(str))
ind2 = set(mcc.index.astype(str))
ind3 = set(interval.index.astype(str))
ind4 = set(time.index.astype(str))
#ind5 = set(count.index.astype(str))

ind = set.intersection(ind1, ind2, ind3, ind4)

In [28]:
len(ind)

599832

In [0]:
data = pd.concat((agg.loc[ind], mcc.loc[ind].drop_duplicates(), interval.loc[ind], time.loc[ind]), axis = 1)

In [30]:
data

             event_type mean CARD_PIN_CHANGE  ...       std
60390758                                 0.0  ...  0.938081
49885074                                 0.0  ...  1.120998
75201745                                 0.0  ...  1.258308
69163017                                 0.0  ...  1.067628
MBK10115415                              0.0  ...  0.876722
...                                      ...  ...       ...
24570867                                 0.0  ...  1.790275
MBK5677100                               0.0  ...  0.852476
58947937                                 0.0  ...  1.047402
46510275                                 0.0  ...  1.197078
18489390                                 0.0  ...  1.248472

[599832 rows x 218 columns]

In [31]:
data.to_csv("/content/drive/My Drive/antifraud/agg/training1.csv")

KeyboardInterrupt: ignored

Теперь другие таблички

In [32]:
target

                              event_id      USER_ID USER_ID_RCVR  CLASS
0     845f9da6751a47a28407ae934fe3c7da    100047377     90581096      0
1     d268a6452b4f47fb9c6e161dbd4b1d9d    100093853     51785703      0
2     32e2ca3fad5f4ae89aa51be508be0a03    100241756     14041952      0
5     80608b0f3a3b4e20acad3e923e632119    100445075    103157424      0
6     09d73e640c6f4ab99d25fd04986b09b2    100445075     60381182      0
...                                ...          ...          ...    ...
1976  bd138f29ec544e7b9bf2178246ab0e0f  VSP25644210  VSP20227278      0
1977  8db26b07f03743ed940ca6ef3aba32ba    VSP297074     53826758      0
1978  87c21609ccbe479eba9e49dd3af25722  VSP32130102     54264326      0
1979  e7ccd23f1b2d4060926a9bf1422bb9e0  VSP32372012     47093731      0
1981  c266304e972a4f338457096c525f7782   VSP3378103    104850456      0

[223224 rows x 4 columns]

In [33]:
data_trans

                               event_id  ...   event_time_
0      83cfb3a65bd943f18c4da6dc653ccf68  ...  1.554394e+09
1      a9cc86a4e52a4d898e6f593f50515be0  ...  1.554463e+09
2      b855e9868024450593239d34d4610513  ...  1.554536e+09
3      4514599aa3f54aa497311dc9289dfd2d  ...  1.554549e+09
4      63592180fc8b4a55a3c0fa12d0f79fa4  ...  1.554810e+09
...                                 ...  ...           ...
14362  fb661f33d21f471fa936599cedbd47ab  ...  1.555313e+09
14363  d747ed5790554244b2f65972fd5c0059  ...  1.555915e+09
14364  6bb49760d44c48bfbbfc5378e5167da6  ...  1.554291e+09
14365  f3d48a2d15c14effb267678b16eba53d  ...  1.556518e+09
14366  f970a3da8a444ca08e82a65221bf5e7c  ...  1.555336e+09

[230918 rows x 7 columns]

In [0]:
ids = set(target.event_id).intersection(set(data_trans.event_id))

In [0]:
data_trans.set_index('event_id', inplace=True)
target.set_index('event_id', inplace=True)
data_trans = data_trans.loc[ids]

data_trans['class'] = target.loc[ids].CLASS

In [36]:
data_trans

                                     user_id user_id_rcvr  ...   event_time_ class
event_id                                                   ...
edb52e6958d54f53ba737da0c4b4d17a     2676263     58641357  ...  1.555322e+09     0
78fe81fb512f4d78a6a2071b9e29e122    25176094     81916544  ...  1.556207e+09     0
c65dd6dd795244889798c618f2f51c21    70860625     52599912  ...  1.555008e+09     0
c2153ef1a2fc4160ac51f5321245c9d2    18105863     94394637  ...  1.554272e+09     0
4fa8d69664854ef382103f4b7233e983   109792460     34840922  ...  1.555410e+09     0
...                                      ...          ...  ...           ...   ...
3caf12cd496e45968c4f49a4c9e906ce    60668115     66054958  ...  1.554535e+09     0
4cf1fa2b71994f588ce65abf683be807    39755315    107230249  ...  1.556024e+09     0
045d5a11009d4e0bac0121d9d10a0686      239018     11591764  ...  1.554753e+09     0
55eecfca2af144a784937ca0be969e0e    77400172     12178648  ...  1.555331e+09     0
08a7946af03249d192416c31fb6b7e60  MBK8854275     77511028  ...  1.555547e+09     1

[223224 rows x 7 columns]

In [37]:
(data_trans.user_id.isin(ind)&data_trans.user_id_rcvr.isin(ind)).sum()

214890

In [38]:
data_trans[(data_trans.user_id.isin(ind)&data_trans.user_id_rcvr.isin(ind))]["class"].sum()

4802

In [0]:
data_trans = data_trans[(data_trans.user_id.isin(ind)&data_trans.user_id_rcvr.isin(ind))]

In [0]:
X1 = data.loc[data_trans.user_id].set_index(data_trans.index)
X2 = data.loc[data_trans.user_id_rcvr].set_index(data_trans.index)

X = pd.concat((data_trans, X1, X2), axis = 1)

In [0]:
X = pd.concat((X, count.loc[X.index]), axis = 1)

In [42]:
X

                                     user_id user_id_rcvr  ...   sum.1 count.1
event_id                                                   ...
edb52e6958d54f53ba737da0c4b4d17a     2676263     58641357  ...   65000       1
78fe81fb512f4d78a6a2071b9e29e122    25176094     81916544  ...  120000       1
c65dd6dd795244889798c618f2f51c21    70860625     52599912  ...   35000       1
c2153ef1a2fc4160ac51f5321245c9d2    18105863     94394637  ...  825000       6
4fa8d69664854ef382103f4b7233e983   109792460     34840922  ...  692302       7
...                                      ...          ...  ...     ...     ...
3caf12cd496e45968c4f49a4c9e906ce    60668115     66054958  ...   60000       1
4cf1fa2b71994f588ce65abf683be807    39755315    107230249  ...   58600       1
045d5a11009d4e0bac0121d9d10a0686      239018     11591764  ...   77000       1
55eecfca2af144a784937ca0be969e0e    77400172     12178648  ...    1700       1
08a7946af03249d192416c31fb6b7e60  MBK8854275     77511028  ...   17290       1

[214890 rows x 447 columns]

In [0]:
X.to_csv("/content/drive/My Drive/antifraud/agg/train_data.csv")